# Node
node_modules/

# Env
.env*
!.env.example
!.env.ci

# Hardhat artifacts/cache
artifacts/
cache/

# Typechain
typechain/
typechain-types/

# Coverage
coverage/
coverage.json

# OpenZeppelin upgrades
.openzeppelin/

# Editor/OS
.vscode/
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
